{% extends 'components/cards/card-item.html.twig' %}

{% block card_subtitle %}{% endblock %}

{% block card_text_inner %}
    {{ entity.description }}
{% endblock %}

{% block card_content_item_footer_content %}
    <p class="card-text">
            {{ (random(entity.valueStart * 100, entity.valueEnd * 100)/100)|replace({'.': ','}) }}G
    </p>
{% endblock %}