{% extends 'components/cards/card-item.html.twig' %}

{% block card_subtitle %}{% endblock %}

{% block card_text_inner %}
    {{ entity.description }}
{% endblock %}
{% block card_footer_actions %}{% endblock %}

{% block card_footer_inner %}
    <p class="card-text">
        {% if entity.valueEnd %}
            {{ (random(entity.valueStart * 100, entity.valueEnd * 100)/100)|replace({'.': ','}) }}G
        {% else %}
            {{ entity.valueStart }}
        {% endif %}
    </p>
{% endblock %}