{% block card_basic %}
    {% if entity.color|default %}
        {% set color = entity.color %}
    {% elseif entity.rarity.color|default %}
        {% set color = entity.rarity.color %}
    {% else %}
        {% set color = 'inherit' %}
    {% endif %}


    <article class="col-12 col-md-6 col-lg-3 mb-2 mt-2" aria-labelledby="card-title-{{ entity.id }}">
        {% block card_inner %}
            <div class="card card-entity" style="border-color:{{ color }}" aria-labelledby="card-title-{{ entity.id }}">
                {% block card_content %}
                    <div class="card-body">
                        <header>
                            {% block card_title %}
                                <h3 class="card-title" id="card-title-{{ entity.id }}">
                                    {% block card_title_inner %}{% endblock %}
                                </h3>
                            {% endblock %}
                            {% block card_subtitle %}
                                <p class="card-subtitle text-muted">
                                    {% block card_subtitle_inner %}{% endblock %}
                                </p>
                            {% endblock %}
                        </header>
                        {% block card_text %}
                            <p class="card-text">
                                {% block card_text_inner %}{% endblock %}
                            </p>
                        {% endblock %}
                    </div>
                    {% block card_footer %}
                        <footer class="card-footer">
                            {% block card_footer_inner %}{% endblock %}
                        </footer>
                    {% endblock %}
                {% endblock %}
            </div>
        {% endblock %}
    </article>
{% endblock %}