{% extends 'components/cards/card-basic.html.twig' %}

{% block card_content %}
    <div class="card-body">
        <div class="card-title h3">{{ entity.name }}</div>
        {% if entity.parent %}<div class="card-subtitle">{{ entity.parent.name }}</div>{% endif %}
        <p class="card-text">{{ entity.description }}</p>
    </div>
    <div class="card-footer" style="background-color: {{ entity.rarity.color }}"></div>
{% endblock %}