{% block flash_messages %}
    <div class="flash-message position-relative alert alert-{{ label }}"
         data-controller="message"
         data-action="click->message#close"
    >
        <div class="btn close position-absolute">X</div>
        {% block flash_messages_message %}
            {{ message }}
        {% endblock %}
    </div>
{% endblock %}