{% block flash_messages %}
    <div class="flash-message position-relative alert alert-{{ label }}" data-message>
        <div class="btn close position-absolute">X</div>
        {% block flash_messages_message %}
            {{ message }}
        {% endblock %}
    </div>
{% endblock %}