.nav .nav-item {
    > .sub-nav {
        display: none;
        @include media-breakpoint-up(md) {
            position: absolute;
        }
    }

    &:hover > .sub-nav {
        display: block;
    }
}