{% extends 'base.html.twig' %}

{% block body %}
    <section aria-labelledby="welcome">
        <h1 id="welcome">Willkommen bei Autolooter!</h1>
        <p>Hier entsteht eine Plattform für TTRPGs, die dich dabei unterstützen soll deine Loot-Tabellen zu organisieren und darauf automatisch zu würfeln.</p>
    </section>
{% endblock %}
