{% block form_basic %}
    <div class="card">
        <div class="card-body">
            {% block form_basic_form_content %}
                {{ form_start(form) }}
                    {% block form_basic_form_content_inner %}
                        {{ form(form) }}
                    {% endblock %}
                {{ form_end(form) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}