{% extends 'base.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block body %}
    <h1>Impressum</h1>
    <h2>Seiteninhaber</h2>
    <ul class="list-unstyled">
        <li>Liam Heuwagen</li>
        <li>Lange Breede 9</li>
        <li>59320 Ennigerloh</li>
        <li>Germany / Deutschland</li>
        <li>E-Mail:<a href="mailto:info.autolooter@gmail.com">info.autolooter@gmail.com</a></li>
    </ul>
{% endblock %}