details {
    position: relative;

    summary {
        &::-webkit-details-marker,
        &::marker {
            content: "";
        }

        &::after {
            content: "+";
            position: absolute;
            right: 5px;
        }
    }

    &[open] summary::after {
        content: "-";
    }
}