// colors
$primary: #004644;
$secondary: #CAE0DB;
$border-color: #460002;
$body-bg: $secondary;
$card-bg: #fff;
$form-select-bg: #fff;

// navbar
$navbar-dark-color: #fff;
$navbar-dark-hover-color: #7ACEB3;

// fonts
$headings-font-family: "Times New Roman";
$font-family-base: "Trebuchet MS";