<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Autolooter{% endblock %}</title>
    <link rel="icon"
          href="{{ asset('build/images/Autolooter-favicon.jpeg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block header %}
    {% include 'components/header/index.html.twig' %}
{% endblock %}

<section class="container" aria-label="{{ "section.main"|trans }}">
    {% include 'components/messages/message-container.html.twig' %}
    <main>
        {% block body %}
        {% endblock %}
    </main>
</section>
{% include 'components/dialog/index.html.twig' %}
</body>
<footer class="text-center">
    made by <a href="https://github.com/TrueScare" target="_blank">TrueScare</a>
</footer>
</html>
