{% block listing %}
    <div class="listing"
         data-controller="listing"
         data-action="pagination:reload->listing#reload"
         data-listing-route-value="{{ route }}"
    >
        <div class="listing-content row"
             data-listing-target="content"
        >
            {% include 'components/listing_content.html.twig' %}
        </div>
        <div class="page_loader"
            data-listing-target="loader"
        >
            {% include 'components/page_loader.html.twig' %}
        </div>
    </div>
{% endblock %}