{% block listing_content %}

    {% block listing_header %}
        <div class="col-12 listing-header"
             data-listing-target="pagination"
        >
            {% include 'components/pagination/index.html.twig' %}
        </div>
    {% endblock %}
    {% block listing_items %}
        <div class="col-12 py-3">
            <div class="row">
                {% for entity in entities %}
                    {% block listing_item_include %}
                        {% include 'components/cards/card-'~type~'.html.twig' %}
                    {% endblock %}
                {% endfor %}
            </div>
        </div>
    {% endblock %}
    <div class="col-12">
        <div class="row">
            {% include 'components/pagination/pagination.html.twig' %}
        </div>
    </div>
{% endblock %}