{% block page_loader %}
    <div class="lds-default">
        {% block page_loader_dots %}
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        {% endblock %}
    </div>
{% endblock %}