{% extends 'base.html.twig' %}

{% block title %}Tabellen {% if rarity.name %}- {{ table.name }}{% endif %}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

