{% extends 'base.html.twig' %}

{% block title %}Items {% if item is defined and item.name %}- {{ item.name }}{% endif %}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

