{% extends 'base.html.twig' %}

{% block title %}Random Item{% endblock %}

{% block body %}
    <div class="more-button">
        <a href="{{ path('item_random') }}" class="btn btn-primary">Nochmal</a>
    </div>
    <div class="row justify-content-center my-5">
        {% for item in items %}
            {% include 'components/cards/card-item-random.html.twig' with {entity: item} %}
        {% endfor %}
    </div>
{% endblock %}