.card {
    a:not(:hover) {
        text-decoration: none;
    }

    .card-footer {
        color: white;
    }

    .badge {
        position:absolute;
        top: 5px;
        right: -10px;
    }
}