.card {
    a:not(:hover) {
        text-decoration: none;
    }

    .card-footer {
        color: white;
    }

    .badge-container {
        position:absolute;
        top: 5px;
        right: -10px;
    }

    .btn-group {
        transition: all 1s ease-out;
        max-height: 0;
        overflow: hidden;
        border-radius: 0;

        .btn {
            border-radius: 0;
        }
    }

    &:hover {
        .btn-group {
            max-height: 100%;
        }
    }
}