{% block delete_action %}
    <a
       class="btn btn-danger"
       data-controller="dialog"
       data-dialog-route-value="{{ route }}"
       data-action="click->dialog#show"
       data-dialog-message-param="{{ "delete.message"|trans({'%identifier%': identifier}) }}"
    >
        {{ "delete.label"|trans }}
    </a>
{% endblock %}