{% block delete_action %}
    <a href="{{ route }}"
            class="btn btn-danger"
            onclick="return confirm('{{ "delete.message"|trans({'%identifier%': identifier}) }}');"
    >
        {{ "delete.label"|trans }}
    </a>
{% endblock %}